In [1]:
#import dependencies 
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# csv's we want to look at
city_data_to_load = "resources/city_data.csv"
ride_data_to_load = "resources/ride_data.csv"

In [6]:
# make data frames
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [13]:
# checking data in city_data_df --------------------------------------------------------
city_data_df.count() #everything seems in order
#get the columns and the rows that are not null
city_data_df.isnull().sum() # looks good
#get the data type for each column
city_data_df.dtypes
# get the unique calues of the type of city
city_data_df["type"].unique()
#get the total types  cities
sum(city_data_df["type"] == "Urban") # 66
sum(city_data_df["type"] == "Suburban") #36
sum(city_data_df["type"] == "Rural") #18

18

In [16]:
# checking data in ride_data_df --------------------------------------------------------
# getting columns and rows that are not null
ride_data_df.count() #looks good
# getting columns and the rows that are not null
ride_data_df.isnull().sum() #looks good
#get the data types
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [ ]:
# merging the data frames on city
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city","city"])